body{

    background-color: rgb(84, 84, 84);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.infected{
    border-bottom: 10px solid rgba(0, 0, blue, .5);
}

.recovered{
    border-bottom: 10px solid rgba(0, green, 0, .5);
}

.deaths{
    border-bottom: 10px solid rgba(red, 0, 0, .5);
}